<h2>Cupboard</h2>

<nav>
  <a routerLink="/needs">Cupboard</a>
  &nbsp;
  <a routerLink="/search">Search</a>
  &nbsp;
  <div *ngIf="!currentUser?.admin" style="display: inline;">
    <a routerLink="/basket">Basket</a>
  </div>
</nav>

<h3>Logged in as {{currentUser?.username}}. <a href="#" (click)="logOut()">Log out</a></h3>
  
<div *ngIf="currentUser?.admin">

  <label for="new-need-name">Need name: </label>
  <input id="new-need-name" #needName />
  <br>

  <label for="new-need-desc">Need description: </label>
  <input id="new-need-desc" #needDesc />
  <br>

  <label for="new-need-type">Need type: </label>
  <select name="need-types" id="need-types" #needType (change)="onSelected(needType.value)">
    <option value=" "></option>
    <option value="Money">Money</option>
    <option value="Physicals Goods">Goods</option>
    <option value="Volunteer Hours">Volunteer</option>
    <option value="Other">Other</option>
  </select>
  <!-- <input id="new-need-type" #needType /> -->
  <br>

  <div *ngIf="selectedOption === 'Other'; then otherTextBox"></div>
  <ng-template #otherTextBox> 
    <label for="new-need-type">Other Type: </label>
    <input value="" [(ngModel)]="otherType"/>
    <br>
  </ng-template>

  <label for="new-need-targetQ">Need target quantity: </label>
  <input id="new-need-targetQ" #needTargetQ />
  <br>

  <button type="button" class="add-button" (click)="createNeed(needName.value, needDesc.value, needType.value, +needTargetQ.value)">
    Add Need
  </button>

  <p>{{adminStatusMessage}}</p>
</div>
   


  <ul class="needs">
    <li *ngFor="let need of needs">
      <a routerLink="/detail/{{need.id}}">
      {{need.name}}
      </a>
      <div *ngIf="currentUser?.admin">
        <button type="button" class="delete" title="delete need"
        (click)="confirm(need.id)">Remove Need</button>
      </div>
      <div *ngIf="showButton == need.id">
        <div><label>Are you sure you would like to delete this need?</label></div>
        <button type="button" class="delete" title="confirm delete"
        (click)="delete(need)">Yes</button>
        <button type="button" class="delete" title="deny delete"
        (click)="deny()">No</button>
      </div>
    </li>
    
  </ul>