<h2>Cupboard</h2>

<nav>
  <a routerLink="/about">About</a>
  &nbsp;
  <a routerLink="/needs">Cupboard</a>
  &nbsp;
  <a routerLink="/search">Search</a>
  &nbsp;
  <div *ngIf="!currentUser?.admin" style="display: inline;">
    <a routerLink="/basket">Basket</a>
    &nbsp;
  </div>
</nav>

<h3>Logged in as {{currentUser?.username}}. <a href="#" (click)="logOut()">Log out</a></h3>
  
<div *ngIf="currentUser?.admin">

  <label for="new-need-name">Need name: </label>
  <input id="new-need-name" #needName />
  <br>

  <label for="new-need-desc">Need description: </label>
  <input id="new-need-desc" #needDesc />
  <br>

  <label for="new-need-type">Need type: </label>
  <select name="need-types" id="need-types" #needType (change)="onSelected(needType.value)">
    <option></option>
    <option value="Money">Money</option>
    <option value="Physicals Goods">Goods</option>
    <option value="Volunteer Hours">Volunteer</option>
    <option value="Other">Other</option>
  </select>
  <!-- <input id="new-need-type" #needType /> -->
  <br>

  <div *ngIf="selectedOption === 'Other'; then otherTextBox"></div>
  <ng-template #otherTextBox> 
    <label for="new-need-type">Other Type: </label>
    <input value="" [(ngModel)]="otherType"/>
    <br>
  </ng-template>

  <label for="new-need-targetQ">Need target quantity: </label>
  <input id="new-need-targetQ" #needTargetQ />
  <br>

  <label for="new-need-availability">Need availability: </label> <br>
      
  <div>
    <label for="sunday-availability">&emsp;Sunday&emsp;&emsp;</label>
    <input type="checkbox" id="sunday-availability" name="sunday-availability" [checked]="true" #sundayAvailability>

    <label for="monday-availability">&emsp;Monday&emsp;&emsp;</label>
    <input type="checkbox" id="monday-availability" name="monday-availability" [checked]="true" #mondayAvailability>
  
    <label for="tuesday-availability">&emsp;Tuesday&emsp;&emsp;</label>
    <input type="checkbox" id="tuesday-availability" name="tuesday-availability" [checked]="true" #tuesdayAvailability>
  
    <label for="wednesday-availability">&emsp;Wednesday&emsp;&emsp;</label>
    <input type="checkbox" id="wednesday-availability" name="wednesday-availability" [checked]="true" #wednesdayAvailability>

    <label for="thursday-availability">&emsp;Thursday&emsp;&emsp;</label>
    <input type="checkbox" id="thursday-availability" name="thursday-availability" [checked]="true" #thursdayAvailability>

    <label for="friday-availability">&emsp;Friday&emsp;&emsp;</label>
    <input type="checkbox" id="friday-availability" name="friday-availability" [checked]="true" #fridayAvailability>

    <label for="saturday-availability">&emsp;Saturday&emsp;&emsp;</label>
    <input type="checkbox" id="saturday-availability" name="saturday-availability" [checked]="true" #saturdayAvailability>
  </div>


  <button type="button" class="add-button" (click)="createNeed(needName.value, needDesc.value, needType.value, +needTargetQ.value, 
  [sundayAvailability.checked, mondayAvailability.checked, tuesdayAvailability.checked, wednesdayAvailability.checked, thursdayAvailability.checked, fridayAvailability.checked, saturdayAvailability.checked])">
    Add Need
  </button>

<p>{{sundayAvailability.value}}</p>  

  <p>{{adminStatusMessage}}</p>
</div>
   


  <ul class="needs">
    <li *ngFor="let need of needs">
      <a routerLink="/detail/{{need.id}}">
      {{need.name}}
      </a>
      <div *ngIf="currentUser?.admin">
        <button type="button" class="delete" title="delete need"
        (click)="confirm(need.id)">Remove Need</button>
      </div>
      <div *ngIf="showButton == need.id">
        <div><label>Are you sure you would like to delete this need?</label></div>
        <button type="button" class="delete" title="confirm delete"
        (click)="delete(need)">Yes</button>
        <button type="button" class="delete" title="deny delete"
        (click)="deny()">No</button>
      </div>
    </li>
    
  </ul>