<div class="login-box">
  <div class="heading">
    <a class="image" href="https://imgbox.com/lIKBnAyr" target="_blank"><img src="https://thumbs2.imgbox.com/0b/a2/lIKBnAyr_t.png" style="width:300px;height:300px;" alt="image host"/></a>    
    <h2>Login</h2>
    <p>{{statusMessage}}</p>
  </div>
    <form #userlogin="ngForm" (ngSubmit)="onSubmit(formData)">
      <div class="fields">
        <div class="field">
          <input class="input" type="text" id="username" name="username" autocomplete="off" required [(ngModel)]="formData.username" /><br />
          <label for="username">Username</label>
        </div>
        <div class="field">
          <input class="input" type="text" id="password" name="password" autocomplete="off" required [(ngModel)]="formData.password" /><br />
          <label for="password">Password</label>
        </div>
      </div>
      <div class="forgot-password">
        <a routerLink="/forgot-password">Forgot Password?</a>
      </div>
      <div class="buttons">
        <div>
          <button class="button" type="submit" (click)="onLoginClick()">Login</button>
        </div>
        <div>
          <button class="button" type="submit" (click)="onSignupClick()">Sign Up</button>
        </div>
      </div>
    </form>
  
  <router-outlet></router-outlet>
</div>