<h2>Basket </h2>

<nav>
  <a routerLink="/needs">Cupboard</a>
  &nbsp;
  <a routerLink="/search">Search</a>
  &nbsp;
  <div *ngIf="!currentUser?.admin" style="display: inline;">
    <a routerLink="/basket">Basket</a>
  </div>
  &nbsp;
  <a routerLink="/settings">Settings</a>
</nav>

<h3>Logged in as {{currentUser?.username}}. <a href="#" (click)="logOut()">Log out</a></h3>


<div *ngIf="basket.length !== 0">
  <ul>
    <ng-container *ngFor="let need of basket; let i = index">
      <label for="need-name">{{need.name}}: </label>
      <input type="number" id="need-name" [(ngModel)]="contributions[i]" placeholder="Quantity goes here!"/>
      <br>
      <button type="submit" (click)="removeNeed(need.id)">Remove</button> 
      <br>
    </ng-container>
  </ul>
  <div *ngIf="numOfTimesCheckoutClicked == 1;then confirmationMessage"></div>
  <ng-template #confirmationMessage><span>Are you sure you want to Checkout? If so, click Checkout again<br></span></ng-template>
  <button type="submit" (click)="checkout()">Checkout</button>
</div>

<p> {{this.statusMessage}} </p>



