<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
</head>

<div class="header">
  <h3 class="user-status">{{currentUser?.username}} <button id="logout" (click)="logOut()">Log Out</button></h3>
  

  <nav class="navigation">
    <a routerLink="/about">About</a>
    &nbsp;
    <a routerLink="/needs">Cupboard</a>
    &nbsp;
    <a routerLink="/search">Search</a>
    &nbsp;
    <div *ngIf="!currentUser?.admin" style="display: inline;">
      <a routerLink="/basket">Basket</a>
      &nbsp;
    </div>
    <a routerLink="/settings">Settings</a>
  </nav>
</div>

<div class="body">
  <div>
    <h1 class="title">Basket</h1>

<div *ngIf="basket.length !== 0">
  <ul>
    <ng-container *ngFor="let need of basket; let i = index">
      <label for="need-name">{{need.name}}: </label>
      <input type="number" id="need-name" [(ngModel)]="contributions[i]" placeholder="Quantity goes here!"/>
      <br>
      <button type="submit" (click)="removeNeed(need.id)">Remove</button> 
      <br>
    </ng-container>
  </ul>
  <div *ngIf="numOfTimesCheckoutClicked == 1;then confirmationMessage"></div>
  <ng-template #confirmationMessage><span>Are you sure you want to Checkout? If so, click Checkout again.<br></span></ng-template>
  <button type="submit" (click)="checkout()">Checkout</button>
</div>

<p> {{this.statusMessage}} </p>



</div> 