<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
</head>

<div class="header">
  <h3 class="user-status">{{currentUser?.username}} <button id="logout" (click)="logOut()">Log Out</button></h3>


  <nav class="navigation">
    <a routerLink="/about">About</a>
    &nbsp;
    <a routerLink="/needs">Cupboard</a>
    &nbsp;
    <a routerLink="/search">Search</a>
    &nbsp;
    <div *ngIf="!currentUser?.admin" style="display: inline;">
      <a routerLink="/basket">Basket</a>
      &nbsp;
    </div>
    <a routerLink="/settings">Settings</a>
  </nav>
</div>

<div class="body">
  <h1 class="title">Search</h1>

  <p>{{errorMessage}}</p>
  <div id="search-component">
    <label for="search-box">Need Name: </label>
    <input #searchBox id="search-box" />
    <br>
    <label for="type-box">Need Type:</label>
    <select #typeBox id="type-box">
      <option value=""></option>
      <option value="Money">Money</option>
      <option value="Goods">Goods</option>
      <option value="Volunteer">Volunteer</option>
      <option value="Other">Other</option>
    </select>
    <br>
    <label for="contribution-percentage-min"> Minimum Contribution Percentage</label>
    <select #contributionPercentageMin id="contribution-percentage-min">
      <option value=""></option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
      <option value="50">50</option>
      <option value="60">60</option>
      <option value="70">70</option>
      <option value="80">80</option>
      <option value="90">90</option>
      <option value="100">100</option>

    </select>
    <br>
    <label for="contribution-percentage-max"> Maximum Contribution Percentage</label>
    <select #contributionPercentageMax id="contribution-percentage-max">
      <option value=""></option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
      <option value="50">50</option>
      <option value="60">60</option>
      <option value="70">70</option>
      <option value="80">80</option>
      <option value="90">90</option>
      <option value="100">100</option>
    </select>
    <br>
    <button type="button"
      (click)="search(searchBox.value, typeBox.value, contributionPercentageMin.value, contributionPercentageMax.value)">Search</button>
  </div>
  </div> 
  <ul class="search-result">
    <div *ngIf="(needs$ | async)?.length == 0">
      <span class="user-status">There are no needs which match your results.</span>
    </div>
    <li *ngFor="let need of needs$ | async">
      <div class="list-element">
        <div class="need-title">
          <a>
            {{need.name}}
          </a>
        </div>
        <div>
          <a class="need-type">
            {{need.type}} ({{need.currentQuantity}}/{{need.targetQuantity}})
          </a>
        </div>
        <div>
          <a class="need-description">
            {{need.description}}
          </a>
        </div>
        <div class="buttons">
          <div>
            <button class="button" routerLink="/detail/{{need.id}}">Details</button>
          </div>
          <div *ngIf="currentUser?.admin">
            <button type="button" class="button" title="delete need" (click)="confirm(need.id)">Remove Need</button>
          </div>
          <div class="message" *ngIf="showButton == need.id">
            <div class="message-text"><label>Remove this need?</label></div>
            <button type="button" class="button" title="confirm delete">Yes</button>
            <button type="button" class="button" title="deny delete" (click)="deny()">No</button>
          </div>
        </div>
      </div>
    </li>
  </ul>