<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="heading">
    <div class="image">
      <a href="https://imgbox.com/SCQRS08f" target="_blank">
        <img src="https://images2.imgbox.com/c4/6b/SCQRS08f_o.png" 
          alt="image host" 
          style="width:75%;height:75%;"/>
      </a>
    </div>
    <h1>Welcome to<br>Brick City Gamers!</h1>
  </div>

  <div class="header">
    <h3 class="user-status">Not signed in!<button id="logout" routerLink="/login">Sign In</button></h3>
  </div>

<div class="about">
    <h2>What is Brick City Gamers?</h2>
    <b>Brick City Gamers is an organization which aims to introduce children and adolecents to STEM through the lens of gaming!</b>

    <h2>How does it work?</h2>
    <b>As a helper, you can do your part to spread STEM education by contributing to various programs such as charity events, tutoring sessions, and more!  
  <h2>How can I help?</h2>
  <b>Sign in or register using the button above, and start contributing to needs NOW!</b>


