<h2>About</h2>

<nav>
  <a routerLink="/about">About</a>
  &nbsp;
  <a routerLink="/needs">Cupboard</a>
  &nbsp;
  <a routerLink="/search">Search</a>
  &nbsp;
  <div *ngIf="!currentUser?.admin" style="display: inline;">
    <a routerLink="/basket">Basket</a>
    &nbsp;
  </div>
  <a routerLink="/settings">Settings</a>
</nav>

<h3>Logged in as {{currentUser?.username}}. <a href="#" (click)="logOut()">Log out</a></h3>

<h2>What is Brick City Gamers?</h2>
<b>Brick City Gamers is an organization which aims to introduce children and adolecents to STEM through the lens of gaming!</b>
<h2>How Does it Work?</h2>
<b>As a helper, you can do your part to spread STEM education by contributing to various programs such as charity events, tutoring sessions, and more!