<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
</head>

<div class="header">
  <h3 class="user-status">{{currentUser?.username}} <button id="logout" (click)="logOut()">Log Out</button></h3>
  

  <nav class="navigation">
    <a routerLink="/about">About</a>
    &nbsp;
    <a routerLink="/needs">Cupboard</a>
    &nbsp;
    <a routerLink="/search">Search</a>
    &nbsp;
    <div *ngIf="!currentUser?.admin" style="display: inline;">
      <a routerLink="/basket">Basket</a>
      &nbsp;
    </div>
    <a routerLink="/settings">Settings</a>
  </nav>
</div>

<div class="body">
  <div>
    <h1 class="title">{{need.name | uppercase}}</h1>

  <div *ngIf="currentUser?.admin;then adminView else helperView"></div>

  <ng-template #adminView>
    <p>{{adminStatusMessage}}</p>

    
    <label for="need-name" class="need-attribute">Name</label><br>
    <input class="dropdown" id="need-name" [(ngModel)]="need.name" placeholder="Name goes here!"/> <br>
    
    <br><label for="need-description" class="need-attribute">Description</label><br>
    <textarea class="dropdown" id="need-description" [(ngModel)]="need.description" placeholder="Description goes here!"></textarea> <br>


    <br><label for="need-type" class="need-attribute">Type</label><br>
    <select class="dropdown" name="need-type" [(ngModel)]="dropdownSelection" #needType (change)="onSelected(needType.value)">
      <option value="Money">Money</option>
      <option value="Goods">Goods</option>
      <option value="Volunteer">Volunteer</option>
      <option value="Other">Other</option>
    </select> <br>

    <div *ngIf="dropdownSelection === 'Other'; then otherTextBox"></div>
    <ng-template #otherTextBox> 
      <label for="new-need-type" class="need-attribute">Other Type</label><br>
      <input value="" [(ngModel)]="otherType"/> <br>
    </ng-template>

    <br><label for="need-amount-current" class="need-attribute">Amount Funded</label><br>
    <span class="attribute-value">{{need.currentQuantity}}</span> <br> <br>

    <label for="need-amount-goal" class="need-attribute">Goal Amount</label><br>
    <input class="dropdown" type="number" id="need-amount-goal" [(ngModel)]="need.targetQuantity" placeholder="Goal amount goes here!"/> <br>
    <br>
    <div *ngIf="dropdownSelection === 'Volunteer'">
      <div>
        <label for="new-need-availability" class="need-attribute">Availability: </label> <br>
        <label for="sunday-availability">&emsp;Sunday&emsp;&emsp;</label>
        <input type="checkbox" id="sunday-availability" name="sunday-availability" [(ngModel)]="need.availability[0]" #sundayAvailability>
    
        <label for="monday-availability">&emsp;Monday&emsp;&emsp;</label>
        <input type="checkbox" id="monday-availability" name="monday-availability" [(ngModel)]="need.availability[1]" #mondayAvailability>
      
        <label for="tuesday-availability">&emsp;Tuesday&emsp;&emsp;</label>
        <input type="checkbox" id="tuesday-availability" name="tuesday-availability" [(ngModel)]="need.availability[2]" #tuesdayAvailability>
      
        <label for="wednesday-availability">&emsp;Wednesday&emsp;&emsp;</label>
        <input type="checkbox" id="wednesday-availability" name="wednesday-availability" [(ngModel)]="need.availability[3]" #wednesdayAvailability>
    
        <label for="thursday-availability">&emsp;Thursday&emsp;&emsp;</label>
        <input type="checkbox" id="thursday-availability" name="thursday-availability" [(ngModel)]="need.availability[4]" #thursdayAvailability>
    
        <label for="friday-availability">&emsp;Friday&emsp;&emsp;</label>
        <input type="checkbox" id="friday-availability" name="friday-availability" [(ngModel)]="need.availability[5]" #fridayAvailability>
    
        <label for="saturday-availability">&emsp;Saturday&emsp;&emsp;</label>
        <input type="checkbox" id="saturday-availability" name="saturday-availability" [(ngModel)]="need.availability[6]" #saturdayAvailability>
      </div>
    </div><br>

    <div *ngIf="need.currentQuantity >= need.targetQuantity;then goalAcheivedMessage"></div>
    <ng-template #goalAcheivedMessage>
      <div><span>This need's goal has been met! However, edits can still be made.</span></div>
    </ng-template>

    <button class="button" type="button" (click)="goBack()">Go Back</button>
    <button class="button" type="button" (click)="save()">Save</button>

  </ng-template>


  <ng-template #helperView>
    <p>{{helperStatusMessage}}</p>

    <div id="desc"><span class="need-attribute">Description<br></span><span class="attribute-value">{{need.description}}</span></div><br>
    <div><span class="need-attribute">Type<br></span><span class="attribute-value">{{need.type}}</span></div><br>
    <div><span class="need-attribute">Amount Funded<br></span><span class="attribute-value">{{need.currentQuantity}}</span></div><br>
    <div><span class="need-attribute">Goal Amount<br></span><span class="attribute-value">{{need.targetQuantity}}</span></div><br>
    <div *ngIf="need.type === 'Volunteer'"><span class="need-attribute">Availability<br></span>
      <div *ngIf="need.availability[0]" style="display: inline;"><span class="attribute-value">Sunday  </span></div>
      <div *ngIf="need.availability[1]" style="display: inline;"><span class="attribute-value">Monday  </span></div>
      <div *ngIf="need.availability[2]" style="display: inline;"><span class="attribute-value">Tuesday  </span></div>
      <div *ngIf="need.availability[3]" style="display: inline;"><span class="attribute-value">Wednesday  </span></div>
      <div *ngIf="need.availability[4]" style="display: inline;"><span class="attribute-value">Thursday  </span></div>
      <div *ngIf="need.availability[5]" style="display: inline;"><span class="attribute-value">Friday  </span></div>
      <div *ngIf="need.availability[6]" style="display: inline;"><span class="attribute-value">Saturday</span></div>
    </div><br>

    <label for="need-contribution" class="need-attribute">Contribution</label><br>
    <input class="dropdown" type="number" id="need-contribution" [(ngModel)]="contribution" placeholder="Contribution"/> <br>

    <div *ngIf="need.currentQuantity >= need.targetQuantity;then goalAcheivedMessage"></div>
    <ng-template #goalAcheivedMessage>
      <div><span>The need has reached its goal! However, you may still contribute.</span></div>
    </ng-template>

    <button class="button" type="button" (click)="goBack()">Back</button>
    <button class="button" type="button" (click)="add()">Add</button>

  </ng-template>

  
  <br><br><br><br><br><br>